<div class="smM:flex smM:flex-col font-la">
	<a routerLink="/home" class="text-white bg-gray-500 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium mr-3 smM:flex smM:justify-between smM:w-full smM:rounded-none">
		{{'navbarLink.home' | translate}} <i class="fa-solid fa-house"></i>
	</a>
	
	<a routerLink="/create-card" class="text-white bg-gray-500 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium smM:flex smM:justify-between smM:w-full smM:rounded-none">
		{{'navbarLink.createCard' | translate}} <i class="fa-solid fa-cart-plus"></i>
	</a>
</div>
